body {
    background-color: #fffded;
    margin: 20px;
    color: blue;

}
p{
    margin: 1%;
}
h1 {
    text-align: center;
    color: blue;
    font-size: 250%;
}

form {
    max-width: 700px;
    margin: auto;
    background: rgb(240,240,240);
    padding: 20px;
}

input[type="text"], input[type="number"]{
    padding: 3px;
    margin: 0.5%;
    box-sizing: border-box;
    display: flex;
    border-right: none;
    border-bottom: none;
    background-color: rgb(240, 240, 240);
    color: rgb(153,39,23);
}
select{
    color: rgb(153,39,23);
}
hr{
    width:70%
}
.oszlop-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bal {
    margin-left: 15%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.jobb {
    width: 180%;
}

#eletkor-group {
    display: flex;
}

#eletkor-group input {
    width: 10%;
}

.radiogomb, .checkbox {
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 10px;
}
.radiogomb label,
.checkbox label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

button {
    display: block;
    margin: 20px auto 0 auto;
}
@media only screen and (max-width: 660px){
    .oszlop-container{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .jobb{
        width:65%;
        
    }
    #eletkor-group{
        width: 150%;
    }
    .bal{
        margin-bottom: 10px;
    }
    .radiogomb,.checkbox{
        flex-direction: column;
    }
    textarea{
        width: 100%;
    }
}